<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mojix Popular Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mojix Popular Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let movie of popularMovies || async" (click)="goToMovieDetails(movie)">
    <ion-card-header>
      <ion-card-subtitle>{{movie.vote_average | toTmdbScore}}</ion-card-subtitle>
      <ion-card-title>{{movie.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-img [src]="movie.backdrop_path | toTmdbURL"></ion-img>
      {{movie.overview}}
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="popularMovies && popularMovies?.length>0" threshold="15%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
